.container{
   /* border: 1px solid black; /* создает рамку вокруг контейнера */ 
    display: flex; /* делает содержимое флексибильное, что бы делать то что нам нужно */
    justify-content: center; /* определяет содержимое по центру */
    align-items: center; /* размещает по центру экрана содержимое */
    height: 100vh; /* делает контейнер во весь экран */
}

